.Rproj.user
.Rhistory
.RData
.Ruserdata
figOutputs
tabOutputs
.ipynb_checkpoints
NASAdownloadFile.txt
Urban-Moth-Phenology.ipynb
downloadFile.txt
correlationNotes
gisData
tmp
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Heterocampa obliqua.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Herpetogramma fluctuosalis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Halysidota tessellaris.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Euchlaena obtusaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Euchlaena amoenaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Epimecis hortaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Costaconvexa centrostrigaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Automeris io.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Apantesis vittata.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Anavitrinella pampinaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Allotria elonympha.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Acrolophus plumifrontella.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Acrolophus heppneri.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Hypomecis umbrosaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Idia aemula.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Lapara coniferarum.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Lochmaeus manteo.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Megalopyge opercularis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Metarranthis homuraria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Nadata gibbosa.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Patalene olyzonaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Peridea angulosa.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Polygrammate hebraeicum.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Schizura ipomoeae.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Scolecocampa liburna.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Stenaspilatodes antidiscaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Auca_Xestia dilucida.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Apantesis vittata.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Dasychira tephra.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Disclisioprocta stellata.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Epimecis hortaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Eulithis diversilineata.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Eusarca confusaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Eutrapela clemataria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Halysidota tessellaris.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Idia rotundalis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Iridopsis defectaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Megalopyge opercularis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Nadata gibbosa.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Schizura ipomoeae.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Scolecocampa liburna.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Biva_Tetanolita mynesalis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Acrolophus arcanella.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Acrolophus plumifrontella.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Anavitrinella pampinaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Apantesis vittata.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Epimecis hortaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Euchlaena deplanaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Eulithis diversilineata.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Eusarca confusaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Eutrapela clemataria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Heterocampa obliqua.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Hypenula cacuminalis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Idia aemula.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Megalopyge opercularis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Nadata gibbosa.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Peridea angulosa.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Plusiodonta compressipalpis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Bowa_Scolecocampa liburna.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Acrolophus arcanella.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Acrolophus plumifrontella.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Anavitrinella pampinaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Apantesis phalerata.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Euchlaena amoenaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Halysidota tessellaris.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Heterocampa obliqua.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Hypenula cacuminalis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Iridopsis defectaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Nadata gibbosa.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Nematocampa resistaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Phoberia atomaris.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Schizura ipomoeae.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Scolecocampa liburna.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Cofr_Tetanolita mynesalis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Acrolophus arcanella.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Acrolophus plumifrontella.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Anavitrinella pampinaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Costaconvexa centrostrigaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Epimecis hortaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Eutrapela clemataria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Halysidota tessellaris.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Heterocampa obliqua.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Hypena palparia.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Hypomecis umbrosaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Iridopsis defectaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Nadata gibbosa.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Orgyia leucostigma.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Phoberia atomaris.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Schizura ipomoeae.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Demi_Scolecocampa liburna.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Joma_Eutrapela clemataria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Joma_Halysidota tessellaris.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Joma_Heterocampa obliqua.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Joma_Hypenula cacuminalis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Joma_Megalopyge opercularis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Joma_Schizura ipomoeae.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Joma_Scolecocampa liburna.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Anavitrinella pampinaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Apantesis nais.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Apantesis phalerata.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Apantesis vittata.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Automeris io.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Catocala similis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Eacles imperialis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Eusarca confusaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Eutrapela clemataria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Halysidota tessellaris.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Herpetogramma fluctuosalis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Heterocampa obliqua.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Scolecocampa liburna.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Schizura ipomoeae.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Peridea angulosa.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Panopoda repanda.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Omphalocera munroei.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Nadata gibbosa.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Megalopyge opercularis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Megalopyge lacyi.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Lochmaeus manteo.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Lapara coniferarum.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Heterocampa obliqua.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Halysidota tessellaris.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Dasychira tephra.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Apantesis vittata.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Apantesis phalerata.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Anavitrinella pampinaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Acrolophus heppneri.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Rist_Acrolophus arcanella.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Scolecocampa liburna.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Schizura ipomoeae.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Phoberia atomaris.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Patalene olyzonaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Panopoda repanda.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Orgyia leucostigma.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Orgyia detrita.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Nadata gibbosa.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Megalopyge opercularis.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Lochmaeus manteo.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Leucanopsis longa.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Hypomecis umbrosaria.csv
data/oldDataToIgnore/sppSpecific_gamOutputsCSVs/GAM_Prcr_Homophoberia apicosa.csv
data/phenoData/oldDataToIgnore/macroMothsPhenoMetrics.csv
data/phenoData/oldDataToIgnore/microMothsPhenoMetrics.csv
scripts/analyses/oldScriptsToIgnore/06_pooledCommunity_PhenoModeling.R
scripts/analyses/oldScriptsToIgnore/06_pooledCommunity_PhenoModeling_V2.R
scripts/analyses/oldScriptsToIgnore/06_pooledCommunity_PhenoModeling_V2_PI_CP.R
scripts/analyses/oldScriptsToIgnore/07_SppSpecific_PhenoModeling.R
scripts/analyses/oldScriptsToIgnore/07_SppSpecific_PhenoModeling_v2.R
scripts/dataWrangling/oldScriptsToIgnore/02_generate_pooledMacroMoth_GAMs.R
scripts/dataWrangling/oldScriptsToIgnore/03_generate_pooledMicroMoth_GAMs.R
scripts/dataWrangling/oldScriptsToIgnore/04_calculate_pooledMoth_phenoMetrics.R
scripts/dataWrangling/oldScriptsToIgnore/05_generate_sppSpecific_GAMs.R
scripts/dataWrangling/00_download_LST_data.R
